body, html{
    margin: 0;
    padding: 0;
    /*font: 300 1em 'Helvetica Neue';*/
    height: 100%;
    width: 100%;
    font: 300 1em 'Helvetica Neue';
}

div.datacontainer{
    margin: 0 auto;
    padding: 1em;
    min-width: 0;
    max-width: 80%;
    /*width: 80%;*/
    border: 1px solid gray;
    /*display: inline-block;*/
    text-align: center;
    /*align-content: center;*/
}

div.divimg{
    position: relative;
    width: 250px;
    height: 376px;
    padding: 0;
    margin:1px 2px 1px 0;
    display: inline-block;

}

img{
    width: 250px;
    height: 376px;
    /*margin-top: 2em;*/

}

div.data{
    position: absolute;
    bottom: 0;
    color: transparent;
    width:250px;
    font-size: 0.85em;
    /*padding: 1em;*/
    background-color: transparent;
    align-content: center;

}



.divimg:hover > div.data{
    background-color: rgba(0,0,0,0.5);
    color: white;
    transition: all 500ms ease;
}

#inpcontainer{
    width:250px;
    margin:3em auto;
}
input{
    margin: 0 auto;
    font: 300 1em 'Helvetica Neue';
}

#container{
    display: block;
}